{% import "_macros.html" as macros %}

<div class="container">
    {% for i in range(0,20,4) %}
        {% set j = i + 4 %}
        <div class="row">
            {% for video in videos[i:j] %}
                <div class="col-xs-6 col-md-3">
                    <a href="{{ url_for('.video', id=video.id) }}" class="thumbnail">
                        <img src="{{video.picture_url }}" alt="{{ video.name }}" style="width: 200px;height: 300px">
                        <h5 style="text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap">{{ video.name }}</h5>
                    </a>
                </div>
            {% endfor %}

        </div>
    {% endfor %}
</div>
<div class="pagination">
{{ macros.pagination_widget(pagination, '.index') }}
</div>
